<div>
  <div>
    <h1>
      List of All Nominees
    </h1>
  </div>
</div>

<p> Here is a list of the Big Eight Oscar nominees since the award's inception. Categories have fused, separated, and been 
renamed over the years.</p>


<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          Nominee
        </th>

        <th>
          Category
        </th>

        <th>
          Ceremony Year
        </th>

        <th>
          Result
        </th>

      </tr>

      <% @list_of_nominees.each do |a_nominee| %>
      <tr>
        <td>
          <%= a_nominee.nom_name %>
        </td>

        <td>
          <%= a_nominee.category %>
        </td>

        <td>
          <%= a_nominee.ceremony_year %>
        </td>

        <td>
          <% if a_nominee.winner %>
          <%= "WINNER" %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
