<div>
  <div>
    <h1>
      Your Ballots
    </h1>
  </div>
</div>


<hr>

<% if session[:user_id] %>

<div>
  <div>
    <table>
      <tr>

        <th>
          Ceremony Year
        </th>

        <th>
          Accuracy
        </th>

        <th>
          Created at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_ballots.each do |a_ballot| %>
      <tr>


        <td>
          <%= a_ballot.ceremony_year %>
        </td>

        <td>
          <%= a_ballot.score %>
        </td>

        <td>
          <%= time_ago_in_words(a_ballot.created_at) %> ago
        </td>

        <td>
          <a href="/ballots/<%= a_ballot.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<% else %>

<h2> Sign in to see your ballots.</h2>

<% end %>

<hr>
