<hr>

<h1> Big Eight Ballot Dashboard </h1>

<p>Your one-stop shop to evaluate, analyze, and (possibly) improve, your Oscar ballots. 
In the modern <a href="https://www.oscars.org/">Academy Awards</a>, the "Big Eight" categories are</p>

<ul>
 <li> Best Picture </li>
 <li> Best Actor </li>
 <li> Best Actress </li>
 <li> Best Director </li>
 <li> Best Original Screenplay </li>
 <li> Best Adapted Screenplay </li>
 <li> Best Supporting Actor </li>
 <li> Best Suporting Actress </li>
</ul>

<p>This application will show you how your ballots would have fared against against well-known models and strategies.</p>