<hr>

<h1> Big Eight Ballot Dashboard </h1>

<p>Your one-stop shop to evaluate, analyze, and (possibly) improve, your Oscar ballots. 
In the modern <a href="https://www.oscars.org/">Academy Awards</a>, the "Big Eight" categories are</p>

<ul>
 <li> Best Picture </li>
 <li> Best Actor </li>
 <li> Best Actress </li>
 <li> Best Director </li>
 <li> Best Original Screenplay </li>
 <li> Best Adapted Screenplay </li>
 <li> Best Supporting Actor </li>
 <li> Best Suporting Actress </li>
</ul>

<p>This application will show you how your ballots would have fared against against well-known models and strategies.</p>

<hr>

<% if session[:user_id] %>

<div>
  <div>
    <h2>
      Create a Ballot
    </h2>

    <form action="/fill_ballot" method="post">
      <div>
        <label for="ceremony_year_box">
          <b>Ceremony Year</b>
        </label>

        <select type="integer" id="ceremony_year_box" name="query_ceremony_year">
          <% year = 2003 %>
          <% while year <= Nominee.maximum("ceremony_year") %>
            <option value="<%= year %>"><%= year %></option>
            <% year = year+1 %>
          <% end %>
        </select>
      </div>

      <button>
        Choose your year
      </button>
    </form>
  </div>
</div>

<% end %>