<h1> Overview of Ballot Strategies </h1>

<hl>
 
<h2> Golden Globes </h2>
<p> The first awards show of the season. The Golden Globes provide the first piece of information for mainstream audiences. </p>

<h2> BAFTAs </h2>
<p> The UK's biggest awards show. It has been the bellweather for several upsets like Olivia Colman's Best Actress win and Anthony Hopins' Best Actor win. </p>

<h2> Guilds </h2>
<p> Picking winners based on the guilds that will vote on the respective categories (e.g., Screen Actors' Guild for the acting awards). Due to the similarity in populations, this is one of the most reliable indicators. </p>

<h2> Odds </h2>
<p> Based on odds just before the betting market closed. Different platforms have different numbers, we are using </p>

<h2> Oscarmetrics </h2>
<p> Ben Zauzmer developed a data-driven approach to predicting the Oscars, outlined in his book <i>Oscarmetrics</i>. </p>