<hr>

<h1> Overview of Ballot Strategies </h1>
 
<h2> Golden Globes </h2>
<p> The first major awards show of the season. The Golden Globes provide the first piece of information for mainstream audiences. For this application,
 since some film categories are partitioned into Drama and Musical/Comedy we have two strategies: one with a Drama bias and another with a Musical/Comedy
 bias.</p>

<h2> BAFTAs </h2>
<p> The UK's biggest awards show. It has been the bellweather for several upsets like 
Olivia Colman's Best Actress win for <i>The Favourite</i> and 
Anthony Hopins' Best Actor win for <i>The Father</i>. </p>

<h2> Guilds </h2>
<p> Picking winners based on the guilds that will vote on the respective categories (e.g., Screen Actors' Guild for the acting awards). Due to the similarity in populations, this is one of the most reliable indicators. </p>

<h2> Odds </h2>
<p> Based on odds just before the betting market closed. Different platforms will have different numbers, we are using the
<a href="https://www.sportsoddshistory.com/other/academy-awards-odds/">SportsBookOdds archive</a>.</p>

<h2> Oscarmetrics </h2>
<p> Mathematician and current New York Mets Director of Analytics Ben Zauzmer developed a data-driven approach to predicting the Oscars, outlined in his book
 <i><a href="https://www.amazon.com/Oscarmetrics-Behind-Biggest-Night-Hollywood/dp/1629334405">Oscarmetrics</a></i>. </p>

<h2> Other Strategies </h2>
FiveThirtyEight has compiled a series of
<a href="https://fivethirtyeight.com/features/oscars-predictions-2016/">interesting strategies</a> that have not been included in the application so far, but will be soon!